# Port where server will be running
PORT=

# Api key for openai
API_KEY=

N8N_VERSION=stable

POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8n
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=n8n

RUNNERS_AUTH_TOKEN=changeRunnerAuthToken